.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.register_button {
  /*background-color: #e61414;*/
}
h2 {
  /*text-align: center;*/
  border-bottom-style: solid;
  border-bottom-color: #323232;
  border-bottom-width: 3px;
  opacity: .7;
}
