<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="nav">
  <mat-grid-list cols="3">
    <mat-grid-tile>

      <button mat-button>
        <mat-icon>
          monetization_on
        </mat-icon>
        <p class="nav_label">抢购</p>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-fab [disabled]="disabled_publish" class="publish_btn" color="primary" (click)="publish()">
        <mat-icon>
          gavel
        </mat-icon>
        <p class="nav_label">出售</p>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button>
        <mat-icon>
          account_circle
        </mat-icon>
        <p class="nav_label" (click)="Login()">未登陆</p>
      </button>
    </mat-grid-tile>

  </mat-grid-list>



</div>
