/deep/ .mat-dialog-container {
  padding: 0px !important;
  /*background-color: #efefef !important;*/
}
.example-container {
  display: flex;
  flex-direction: column;
}
.login_container {
  padding: 24px;
  background-color: white;
}
.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.login_button {
  /*background-color: #e61414;*/
}

/deep/ mat-hint {
  color: #e61414 !important;
}

/deep/ .mat-simple-snackbar-action {
  color: white !important;
}

.register {
  width: 100%;
  text-align: center;
  color: black;
  opacity: .87;
  font-size: 12px;
  font-weight: 200;
  float: right;
  width: 20%;
}
.login_header {
  width: 100%;
  float: left;
}
.divide {
  width: 1px;
}
