<div class="example-container">
  <div class="login_header">
    <div class="register" (click)="register()">
      快速注册
    </div>
    <div class="register divide">
      |
    </div>
    <div class="register">
      忘记密码
    </div>
  </div>

  <mat-form-field>
    <input matInput placeholder="用户名" [(ngModel)]="username"  required>
    <!--<mat-hint>不存在{{usernameFalse}}</mat-hint>-->
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="密码" [type]="hide ? 'password' : 'text'"  [(ngModel)]="password" required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>
  <div class="button-row">
    <button mat-raised-button color="primary" (click)="LoginIf()" class="login_button">登录</button>

    <button mat-raised-button (click)="onCloseCancel()">取消</button>
    <!--<button mat-raised-button (click)="switch()">切换</button>-->

  </div>

</div>
