
<div class="index">

    <button mat-raised-button color="primary" class="index-title" (click)="openHelp(1)">
      <mat-icon class="subtitle_left">thumb_up_alt</mat-icon>
      <div class="subtitle">热门聚焦</div>
      <!--<mat-icon class="subtitle_icon">help</mat-icon>-->
    </button>

    <mat-card class="example-card" *ngFor="let good of goods">
      <img mat-card-image src="{{good.img}}" alt="">
      <mat-card-content>
        <div class="content_form">
            <div class="content_name">{{good.name}}</div>
          <div class="content_desc">{{good.desc}}</div>
        </div>
        <div class="content_form">
          <div class="content_left content_left_progress_40">{{round(good.progress/good.price*100)}}%</div>
          <div class="content_left content_left_progress_41" *ngIf="round(good.progress/good.price*100) > 60">{{round(good.progress/good.price*100)}}%</div>
          <div class="content_right content_right_progress">
            <mat-progress-bar mode="determinate" value="{{good.progress/good.price*100}}" color="warn"></mat-progress-bar>
          </div>
        </div>
        <div class="content_form">
          <div class="content_left">价格</div>
          <div class="content_right">{{good.price}}</div>
        </div>
        <div class="content_form">
          <div class="content_left">截止日期</div>
          <div class="content_right">{{good.endDate}}</div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="openWhenLogin()" class="join_button">{{bet_txt}}</button>
        <!--<button mat-button>SHARE</button>-->
      </mat-card-actions>
    </mat-card>



  <button mat-raised-button color="primary" class="index-title" (click)="openHelp(2)">
    <mat-icon class="subtitle_left">today</mat-icon>
    <div class="subtitle">最新发布</div>
    <!--<mat-icon class="subtitle_icon">help</mat-icon>-->
  </button>
  <mat-card class="example-card" *ngFor="let good of goods">
    <img mat-card-image src="{{good.img}}" alt="">
    <mat-card-content>
      <div class="content_form">
        <div class="content_name">{{good.name}}</div>
        <div class="content_desc">{{good.desc}}</div>
      </div>
      <div class="content_form">
        <div class="content_left content_left_progress_40">{{round(good.progress/good.price*100)}}%</div>
        <div class="content_left content_left_progress_41" *ngIf="round(good.progress/good.price*100) > 60">{{round(good.progress/good.price*100)}}%</div>
        <div class="content_right content_right_progress">
          <mat-progress-bar mode="determinate" value="{{good.progress/good.price*100}}" color="warn"></mat-progress-bar>
        </div>
      </div>
      <div class="content_form">
        <div class="content_left">价格</div>
        <div class="content_right">{{good.price}}</div>
      </div>
      <div class="content_form">
        <div class="content_left">截止日期</div>
        <div class="content_right">{{good.endDate}}</div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openWhenLogin()" class="join_button">{{bet_txt}}</button>
      <!--<button mat-button>SHARE</button>-->
    </mat-card-actions>
  </mat-card>

  <button mat-raised-button color="primary" class="index-title" (click)="openHelp(2)">
    <mat-icon class="subtitle_left">view_list</mat-icon>
    <div class="subtitle">全部商品</div>
    <!--<mat-icon class="subtitle_icon">help</mat-icon>-->
  </button>
  <mat-card class="example-card" *ngFor="let good of goods">
    <img mat-card-image src="{{good.img}}" alt="">
    <mat-card-content>
      <div class="content_form">
        <div class="content_name">{{good.name}}</div>
        <div class="content_desc">{{good.desc}}</div>
      </div>
      <div class="content_form">
        <div class="content_left content_left_progress_40">{{round(good.progress/good.price*100)}}%</div>
        <div class="content_left content_left_progress_41" *ngIf="round(good.progress/good.price*100) > 60">{{round(good.progress/good.price*100)}}%</div>
        <div class="content_right content_right_progress">
          <mat-progress-bar mode="determinate" value="{{good.progress/good.price*100}}" color="warn"></mat-progress-bar>
        </div>
      </div>
      <div class="content_form">
        <div class="content_left">价格</div>
        <div class="content_right">{{good.price}}</div>
      </div>
      <div class="content_form">
        <div class="content_left">截止日期</div>
        <div class="content_right">{{good.endDate}}</div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openWhenLogin()" class="join_button">{{bet_txt}}</button>
      <!--<button mat-button>SHARE</button>-->
    </mat-card-actions>
  </mat-card>
</div>
